@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Montserrat, sans-serif;
    /* Стили для контейнера карусели */
    .slick-track {
        display: flex; /* Размещаем слайды в строку */
    }

    .slick-slide {
        flex-shrink: 0; /* Предотвращаем сжимание слайдов */
    }

}
